{% extends 'main.html' %}
{% block content %}

    <div class="post">
        <h2>{{ post.title }}</h2>
        <div class="date">{{ post.created_date }}</div>
        <p>{{ post.content }} </p>
    </div>

    <hr>
    <div class="comments">
        <h4>Comments</h4>
        {% for comment in comments %}
            <small>{{ comment.author }}</small>
            <p> {{ comment.text }} </p>
            <small> {{ comment.date_posted }} </small>
        {% endfor %}
    </div>
    <form action="" method="POST">
        {% csrf_token %}
        <p>Write your comment</p>
        {{ form.as_p }}

        <input type="submit" value="Post">
    </form>

{% endblock %}