{% extends 'main.html' %}
{% block content %}
    <a href="{% url 'edit_post' pk=post.pk %}">Edit</a>
    <a href="{% url 'delete_post' pk=post.pk %}">Delete</a>
    <article class="content-section article-content">
        <h2>{{ post.title }}</h2>
        <div class="article-metadata">
            <a class="mt-2" href="#">{{ post.author }}</a>
            <small class="text-muted">{{ post.published_date }}</small>
        </div>
        <p>{{ post.content }} </p>
    </article>

    <hr>
    <div class="comments">
        <h4>Comments</h4>
        {% for comment in comments %}

            <p><small>{{ comment.author }}</small></p>
            <p> {{ comment.text }} </p>
            <small> {{ comment.date_posted }} </small>

        {% endfor %}
        <br>  <a href="{% url 'comment' pk=post.pk %}">Comment</a>
    </div>


{% endblock %}