{% extends 'main.html' %}
{% block content %}
    
    <article class="content-section media">
        <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}" alt="author profile">
            <div class="media-body">
                
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ object.author }}</a>
                    <small class="text-muted">{{ object.created_date|date:"F d, Y" }}</small>
                    {% if object.author == user %}
                        <div>
                            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'edit_post' object.pk %}">Edit</a>
                            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'delete_post' object.pk %}">Delete</a>
                        </div>
                    {% endif %}
                </div>
                <h2 class="article-title">{{ object.title }}</h2>
                <p class="article-content">{{ object.content }} </p>
            </div>
    </article>

    <hr>
    <div class="comments">
        <h4>Comments</h4>
        <!-- {% for comment in object.comment %} -->

            <p><small>{{ comment.author }}</small></p>
            <p> {{ object.comment.text }} </p>
            <small> {{ comment.date_posted }} </small>

        <!-- {% endfor %} -->
        <br>  <a href="{% url 'comment' pk=post.pk %}">Comment</a>
    </div>


{% endblock %}