* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
}
body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  ul {
    margin: 0;
  }

  a, a:hover {
    text-decoration: none;
    color: #fafafa;
  }

  header {
    background-color: #003d51;
    position: fixed;
    /* top: 0; */
    /* height: 75px; */
    width: 100%;
    margin-top: 0;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    z-index: 9999;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
  }

  .nav-link:hover, .nav-link:active {
    background-color: #dddddd;
    color: #003d51;
    border-radius: 7px;
    /* font-weight: 500; */
  }

  header .nav-link-border {
    background-color: #dddddd;
    border: 1px solid #003d51;
    color: #003d51;
    border-radius: 10px;
  }

  .nav-link-border:hover {
    background-color: #003d51;
    color: #dddddd;
    border: 1px solid #dddddd;
  }

  .navbar figure {
    margin: 0;
  }

  .navbar .logo img {
    height: 80px;
    width: 80px;
    border-radius: 20px;
    padding: 15px;
  }

  .nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  
  .bg-steel {
    background-color: #5f788a;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }
  
  .follow {
    border-radius: 5px;
  }