@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'poppins', sans-serif;
  font-size: 1.2rem;
  background: #fff;
  color: #333333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


ul {
  margin: 0;
}

a,
a:hover {
  text-decoration: none;
  /* color: #fafafa; */
}

header {
    width: 100%;
    height: 75px;
    background-color: #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    /* overflow: hidden; */
    z-index: 999;
    display: flex;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.header-container .logo {
  display: flex;
  align-items: center;
  gap: 15px;
  /* background-color: #f7f7f7;
  padding: 5px 10px;
  border-radius: 10px; */
}

.header-container .logo h2 a, .logo h2 {
  color: #003d51;
  margin: 0;
  font-weight: 600;
}

.header-container .logo img {
  height: 50px;
  width: 50px;
}

.header-container .search-bar input[type=search] {
    height: 40px;
    width: 400px;
    border: 1px solid #003d51;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 0.9em;
}

@media screen and (max-width: 380px) {
  .header-container .search-bar input[type=search] {
    width: 150px;
    height: 30px;
    font-size: 0.7rem;
    padding: 5px 10px;
  }
}
@media screen and (min-width:381px) and (max-width: 519px) {
  .header-container .search-bar input[type=search] {
    width: 200px;
    height: 30px;
  }
}
@media screen and (min-width: 520px) and (max-width: 620px) {
  .header-container .search-bar input[type=search] {
    width: 270px;
    height: 35px;
  }
}
@media screen and (min-width: 621px) and (max-width: 991px) {
  .header-container .search-bar input[type=search] {
    width: 300px;
    height: 37px;
  }
}

.header-container .search-bar input[type=search]:focus {
    outline: none;
}

.header-container .user-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media screen and (max-width: 433px) {
  .header-container .user-info {
    flex-direction: column;
  }
  
}

.header-container .user-info img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #fff;
}

.header-container .logout {
  position: absolute;
  visibility: hidden;
  background-color: #e8e7e7;
  border: 1px solid lightgray;
  border-radius: 3px;
  margin-top: 5px;
  transition: 0.3s ease all;
}
.logout button, .logout button:focus {
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  outline: none;
}

.header-container .user-avatar:hover > .logout {
  visibility: visible;
}

.header-container .user-info .signup,
.header-container .user-info .login {
  font-size: 1em;
  border: 1px solid #6ab4fe;
}

.header-container .user-info .login:hover {
  background-color: #80c0ff;
  color: #f7f7f7;
}
.header-container .user-info .signup,
.header-container .user-info .signup:hover {
  background-color: unset;
  /* border: none; */
}

/* MAIN STYLES */
.main-container {
    margin-top: 75px;
    margin-bottom: 30px;
    padding-top: 50px;
  }
  
  .main-container .main-content {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.main-content .articles,
.detail-content {
  margin-right: 50px;
}
.main-content article {
  padding: 20px 30px;
  border: 0.5px solid #beebf9;
  border-radius: 5px;
  margin-bottom: 20px;
}

.main-content article .article-head {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.main-content article .article-head .details {
  width: 100%;
}

.main-content article .article-head .details a{
  color: #003d51;
}

.main-content article .article-head .details .username span {
  color: #cbcbcb;
  margin-left: 5px;
}

.article-head .details p,
.comment-head p,
.profile-content p,
.view-profile p,
hr {
  margin: 0;
  /* margin-bottom: 0; */
}

.main-content article .article-head .details .date{
  margin-bottom: 5px;
  font-size: 0.8em;
  opacity: 0.9;
}


.main-content .article-head img {
  height: 50px;
  width: 50px;
  border: 1px solid #000;
  border-radius: 50%;
}

.main-content article .article-body .article-title a,
.detail-content .article-body .article-title h3 {
  font-weight: 600;
  color: #003d51;
}

.main-content article .article-body p {
  text-align: justify;
  margin-top: 5px;
}

.main-content article .article-footer {
  margin-top: 15px;
  display: flex;
  align-items: center;
}

.main-content article .article-footer .comments{
  margin-left: 30px;
}


.sidebar .sidebar-container {
  border: 1px solid #17a2b8;
}

.sidebar .sidebar-container .head {
  background-color: #17a2b8;
  color: #fff;
  font-size: 1.05em;
  font-weight: 600;
  text-align: center;
  padding: 10px;
}

.sidebar .sidebar-container .sidebar-content {
  padding: 15px;
}

.sidebar .sidebar-container .sidebar-content .side-content{
  border: 0.5px solid #17a2b8;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
}

.sidebar .sidebar-container .side-content .title {
  font-size: 0.8em;
  font-weight: 600;
  color: #444444;
  margin-bottom: 3px;
}

.sidebar .sidebar-container .side-content .body {
  font-size: 0.8em;
  text-align: justify;
  color: #333333;
}

.alert {
  width: fit-content;
}
.alert p{
  margin-bottom: 0;
}

.main-content .post-create-icon a {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #6cb4fb;
  font-size: 1.1em;
  font-weight: 500;
  padding: 5px 10px;
  color: #fff;
  border-radius: 7px;
}




/* Detail page */
.post-detail-page .article-head .actions {
  display: flex;
  align-items: center;
  gap: 20px;
}
.post-detail-page .article-head .details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-detail-page .article-head img {
  height: 50px;
  width: 50px;
}

.post-detail-page .article-footer .likes a {
  color: #000;
}

.post-detail-page .article-footer button,
.post-detail-page .article-footer button:focus {
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
}


.comments-section {
  border: 1px solid lightblue;
  border-radius: 7px;
  padding: 10px 20px;
}

.comments-section .comments {
  margin: 15px;
}

.comments-section .comments .comment {
  font-size: 0.8em;
  padding: 10px 15px;
  border-radius: 10px;
  border: 0.1px solid rgb(181, 180, 180);
  margin-bottom: 10px;
}

.comments-section .comments .comment .comment-head {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
}

.comments-section .comment-head a {
  color: #003d51;
}

.comments-section .comments .comment img {
  height: 20px;
  width: 20px;
  border: 1px solid gray;
  border-radius: 50%;
}

.comments-section form {
  margin: 0 20px;
}

.comments-section form textarea,
.comments-section form input {
  display: block;
  margin-bottom: 10px;
}

.comments-section form textarea {
  width: 100%;
  height: 100px;
  max-height: fit-content;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1em;
}

textarea:focus {
  border: 2px solid gray;
  outline: none;
}

.comments-section .btn.comment-btn {
  padding: 10px;
  border-radius: 7px;
  border: none;
  background-color: #003d51;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
}


/* FORM STYLE */
.create-form {
  width: 70%;
  margin: auto;
  padding: 20px 30px;
  border: 1px solid lightblue;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.create-form .form-title {
  margin: 0;
  font-size: 1.3em;
  font-weight: 600;
  text-align: center;
}


.profile-content {
  width: 60%;
  margin: auto;
  padding: 20px 30px;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: #fff;
}

.profile-content img,
.view-profile img {
  height: 125px;
  width: 125px;
  margin-bottom: 16px;
}

.profile-content .media,
.view-profile .media {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 50px;
}

.view-profile .media {
  width: 70%;
  margin: auto;
  padding: 20px 30px;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: #fff;
  text-align: center;
}

.profile-content .media .media-body {
  text-align: center;
}

.profile-content .media .media-body h2,
.view-profile .media .media-body h2 {
  margin: 0;
}

.view-profile .media .media-body .text-secondary {
  margin-bottom: 0.5rem;
}

.content-section {
  width: 50%;
  margin: auto;
  /* background-color: #fafafa; */
  padding: 20px 30px;
  border: 1px solid lightblue;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}


/* footer */
footer {
  margin-top: auto;
  /* background: #003d51; */
  color: #ffffff;
  text-align: center;

}

.footer {
  padding: 20px;
  background: #002633;
  font-size: 1em;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Mobile View */
@media only screen and (max-width: 767px) {
  body {
    font-size: 1rem;
  }

  .header-container .logo {
    flex-direction: column;
    gap: 0;
  }
  .header-container .logo h2 {
    font-size: 0.8rem;
  }

  .header-container .logo img {
    height: 30px;
    width: 30px;
  }

  .header-container .user-info {
    gap: 5px;
  }
  .header-container .user-info .new-post{
    display: none;
  }
  .header-container .user-info .btn {
    font-size: 0.8rem;
    padding: 0.2rem 0.4rem;
}

  .main-content .post-create-icon a {
    display: block;
  }

  .main-container {
    margin-top: 50px;
  }

  .main-container .main-content {
    grid-template-columns: 1fr;
  }

  .main-content .articles,
  .detail-content {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .main-content article {
    padding: 10px 20px;
  }

  .main-content .article-head img {
    height: 40px;
    width: 40px;
  }

  .post-detail-page .article-head .details svg {
    height: 20px;
    width: 20px;
  }

  .create-form {
    width: 100%;
  }

  .create-form .form-title {
    font-size: 1.1em;
  }

  .profile-content .media, .view-profile .media {
    margin-right: 0;
  }

  .view-profile .media, .profile-content {
    width: 100%;
    margin-bottom: 30px;
  }

  .content-section {
    width: 100%;
  }

  .footer {
    padding: 10px;
    font-size: 0.8em;
  }
}

/* Tablet View */
@media only screen and (min-width:768px) and (max-width: 991px) {
  body {
    font-size: 1rem;
  }
  .header-container .logo {
    flex-direction: column;
    gap: 0;
  }

  .header-container .logo h2 {
    font-size: 1em;
  }

  .header-container .logo img {
    height: 40px;
    width: 40px;
  }

  .header-container .search-bar input {
    width: 300px;
    height: 35px;
  }


  .main-container .main-content {
    grid-template-columns: 1fr;
  }

  .main-content .articles,
  .detail-content {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .sidebar {
    width: 70%;
    margin: auto;
    margin-top: 30px;
  }

  .create-form {
    width: 90%;
  }

  .create-form .form-title {
    font-size: 1.2em;
  }

  .profile-content {
    width: 85%;
  }

  .content-section {
    width: 90%;
  }
}