{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="view-profile main-content">
    <div>
        <a href="{% url 'blog-home' %}" class="btn btn-secondary mb-3">Home</a>
        <div class="media">
            <img class="rounded-circle" src="{{ user_obj.profile.image.url }}">
            <div class="media-body">
                <h2 class="account-heading">{{ user_obj.first_name }} {{user_obj.last_name}}</h2>
                <p class="text-secondary">@{{ user_obj.username }}</p>
                <p>Email: {{ user_obj.email }}</p>
                <p><strong>Bio:</strong></p>
                <p>{{user_obj.profile.bio}}</p>
            </div>
            
            {% if user == user_obj %}
                <a class="btn btn-primary mt-4" href="{% url 'profile' %}">Update</a>
            {% else %}
                <a class="btn btn-primary mt-4" href="">Follow</a>
            {% endif %}
                
        </div>
    </div>

    <aside class="sidebar">
        <div class="sidebar-container">
            <p class="head">Recent Posts from {% if user_obj == request.user%}You{%else%} {{user_obj.username}}{%endif%}</p>
            <div class="sidebar-content">
                {% for post in recent_posts %} 
                    <a href="{% url 'post_detail' slug=post.slug %}">
                        <div class="side-content">
                            <p class="title">{{post.title}}</p>
                            <p class="body">{{post.content|truncatechars:100}}</p>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </aside>
</div>

{% endblock content %}

